section {
    scroll-margin-top: var(--header-height);
}

#uvod {
    & .content {
        gap: 16px;
        padding: 32px;

        & h1 {
            line-height: 1.3;
            margin-bottom: 24px;
        }

        & p {
            text-wrap: balance;
            padding-right: 16px;
            margin-bottom: 24px;
        }

        & > div {
            flex-basis: 65%;
        }

        & > img {
            flex-basis: 35%;
            max-width: 310px;
        }
    }
}

#ktosme {
    & details p:last-child {
        font-style: italic;
        text-align: center;
    }
}


#zakladatel {
    & h3 i { font-weight: normal; }

    & ol { margin: 0; }

    & .content {
        align-items: flex-start;
        --gap: 16px;
        gap: var(--gap);

        & img {
            position: sticky;
            top: calc(var(--header-height) + var(--gap));
            max-width: min(40%, 300px);
        }
    }

    & .recap {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        & span {
            padding: 4px 8px;
            border-radius: 6px;
            border: 1px solid var(--color-yellow);

            &:nth-child(2) { border-color: var(--color-red); }
        }
    }
}

#posobenie {
    & .content {
        flex-direction: column;

        & > div {
            display: flex;
            align-items: center;
            gap: 32px;
            width: 100%;

            & ul {
                flex-basis: 40%;
                display: flex;
                flex-direction: column;

                align-self: flex-start;

                list-style: none;
                padding: 0;
                margin: 0;

                & li {
                    position: relative;
                    border-top: 1px solid var(--color-yellow);
                    padding: 16px 48px 16px 8px;

                    & h4 {
                        margin-bottom: 12px;

                        & span {
                            padding: 2px 4px;
                        }
                    }

                    & p {
                        margin: 0;
                    }

                    & img {
                        position: absolute;
                        bottom: 50%;
                        transform: translateY(50%);
                        right: 8px;
                        width: 24px;
                    }
                }
            }

            & img {
                display: block;
                flex-basis: 60%;
                width: 100%;
            }
        }
    }
}

#era {
    & h2:not(:first-of-type) { margin-top: 0.83em; }
}

#historia {
    & .content {
        flex-direction: column;
    }
}

#kontakt {
    & .content {
        display: flex;
        flex-direction: column;
    }
}
