ol.timeline {
    --gap: 36px;

    width: min(100%, 750px);
    position: relative;

    display: grid;
    gap: var(--gap);
    grid-template-rows: repeat(9, 1fr);

    & time {
        padding: 3px 10px;
        border-radius: 16px;

        background: var(--color-red-dark);
        color: #fff;
    }

    & p {
        color: var(--color-grey-dark);
        text-wrap: balance;
    }

    & li {
        display: grid;
        align-items: center;
        width: 95%;
        z-index: 2;

        gap: 8px;
        padding: 24px 16px;

        border-width: 1px;
        border-style: solid;

        &:nth-child(odd) {
            justify-items: start;
            background-image: linear-gradient(to left, transparent 5%, white 40%);
            border-image: linear-gradient(to left, rgb(240, 240, 240, 0.96) 10%, white 50%, var(--color-yellow) 100%) 1;
            border-left: 4px solid white;
            padding-right: 40%;
        }

        &:nth-child(even) {
            justify-self: end;
            justify-items: end;
            text-align: right;
            background-image: linear-gradient(to right, transparent 5%, white 40%);
            border-image: linear-gradient(to right, rgb(240, 240, 240, 0.96) 10%, white 50%, var(--color-yellow) 100%) 1;
            border-right: 4px solid white;
            padding-left: 40%;
        }
    }

    & time, & h4, & p { margin: 0 }

    & .timeline-hr {
        z-index: 1;
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background-color: var(--color-red);
    }

    & .circles-hr {
        z-index: 3;
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: var(--gap);

        & .circle-hr {
            width: 8px;
            height: 8px;
            background-color: var(--color-yellow);
            border-radius: 50%;
            box-shadow: 0 0 2px 1px var(--color-yellow);
        }
    }
}
