@font-face {
    font-family: 'Franklin Gothic Condensed';
    src: url('/fonts/franklin-gothic-condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: var(--color-yellow);
    text-underline-offset: 6px;
}

h4 {
    font-size: 18px;
}

.red-dark-bg {
    background: var(--color-red-dark);
    color: white;
    padding: 6px;
}

.red-bg {
    background: var(--color-red);
    color: white;
    padding: 6px;
}

.yellow-bg {
    background: var(--color-yellow);
    color: white;
    padding: 6px;
}
